// theme colors
// these colors allow to change the theme easily and should only be used in this file
$transparent: rgba(0,1,0,0)
$theme-000: #000305
$theme-333: #333333
$theme-EEE: #F5F4EF
$theme-FFF: #FFFFFF
$theme-main: #C74451
$theme-main-darker: #B5212F

// body
$body-background: $theme-EEE
$body-color: $theme-000
$body-color-light: $theme-333

//nav
$nav-background: $theme-000
$nav-background-active: $theme-main
$nav-color: $theme-EEE

// main
$main-background: $transparent

// link
$link-color: $theme-main

// card
$card-background: $theme-FFF

// note
// note-neutral
$note-neutral-background: #f3f3f3
$note-neutral-border: #858585
// note-ok
$note-ok-background: #DFD
$note-ok-border: #4CAF50
// note-warning
$note-warning-background: #FFF9E3
$note-warning-border: #DBAE26
// note-error
$note-error-background: #FFE7E7
$note-error-border: #C62E2E
// note-info
$note-info-background: #dff5ff
$note-info-border: #454ec5
