// theme colors
// these colors allow to change the theme easily and should only be used in this file
$transparent: rgba(0,1,0,0)
$theme-000: #0F1419
$theme-333: #333333
$theme-EEE: #ECEFF4
$theme-FFF: #FFFFFF
$theme-main: #184149
$theme-main-darker: #3B4252

// body
$body-background: $theme-EEE
$body-color: $theme-000
$body-color-light: $theme-333

//nav
$nav-background: $theme-000
$nav-background-active: $theme-main
$nav-color: $theme-EEE

// main
$main-background: $transparent

// link
$link-color: $theme-main

// card
$card-background: $theme-FFF

// note
// note-neutral
$note-neutral-background: #f9f9f9
$note-neutral-border: #7D7D7D
$note-neutral-title-background: #e0e0e0
$note-neutral-title-border: $note-neutral-border
// note-ok
$note-ok-background: #DFD
$note-ok-border: #4CAF50
$note-ok-title-background: #DFD
$note-ok-title-border: #4CAF50
// note-warning
$note-warning-background: #FFF9E3
$note-warning-border: #DBAE26
$note-warning-title-background: #FFF9E3
$note-warning-title-border: #DBAE26
// note-error
$note-error-background: #FFE7E7
$note-error-border: #C62E2E
$note-error-title-background: #FFE7E7
$note-error-title-border: #C62E2E
// note-info
$note-info-background: #dff5ff
$note-info-border: #454ec5
$note-info-title-background: #dff5ff
$note-info-title-border: #454ec5
// note-title

